body {
    margin: 0;
    padding: 0;
}

.navbar {
    background: #6a952a;
    color: #fff;
}

.navbar-brand {
    color: #fff !important;
}

.page-header h1 {
    font-family: 'Poiret One', cursive;
    font-size: 2em;
    margin: 0;
    padding: 1em 0;
    text-align: center;
}

.snails-key__question {
    font-weight: bold;
}

.snails-key__answer {
    margin-right: 1rem;
}